body{
    margin:0 74px
}

.page-header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top:  60px;
}

.main-nav{
    display:grid;
    grid-template-columns: 68px 1fr;
    column-gap:45px;
}

.site-navigation{
    display:flex;
    justify-content: start;
    flex-wrap:wrap;
    list-style-type: style none;
    margin:0;
    padding:0;
}

.site-navigation-item{
    display: block;
    margin-right: 40px;
}

.site-navigation-item:nth-child(6){
    margin-right: 0;
}

.phone{
    display: block;
    text-align: end;
}