body{
    margin: 0;
}


/* Header and nav */

.page-header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin:60px 74px 25px 74px
}

.main-nav{
    display:grid;
    grid-template-columns: 68px 1fr;
    column-gap:45px;
}

.site-navigation{
    display:flex;
    justify-content: start;
    flex-wrap:wrap;
    list-style-type: style none;
    margin:0;
    padding:0;
}

.site-navigation-item{
    display: block;
    margin-right: 40px;
}

.site-navigation-item:nth-child(6){
    margin-right: 0;
}

.phone{
    display: block;
    text-align: end;
}




/* promo_Our_cakes (main(promo)) */


.promo{
    display: flex;
    flex-direction: column;
    width: 484px;

}

.promo_Our_cakes{
    margin-left: 74px;
}

.promo h1{
    width: 314px;
    margin-top:155px ;
    margin-bottom:25px ;
}

.promo p{
    width: 278px;
    margin-bottom:75px ;
    
}

.button{
    display: block;
    width: 226px;
    margin-right:309px ;
    margin-bottom:114px ;
    text-align:center;
    border-radius:25px
}

.features{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 241px;

}

.features_img1{
    margin: 0;
    padding: 0;
    margin-right: 10px;   
}

.nature{
    margin: 0;
    padding: 0;
    margin-right: 40px;
}

.features_img2{
    margin: 0;
    padding: 0;
    margin-right: 10px;  
}



/* catalog/cards */


.catalog h2{
    margin-bottom:55px ;

}

.cards{
    display: grid;
    grid-template-columns:696px 1fr ;
    margin:0;
    padding:0;
    margin-right:74px ;
    margin-left:74px;
    margin-bottom: 100px;

    grid-template-areas:"fist_card second_card "
                        "fist_card third_card ";

    row-gap: 38px;
    column-gap:43px ;
    list-style:none;
}

.fist_card{
    grid-area:fist_card ;
    height:653px ;


}

.second_card{
    grid-area:second_card ;

}

.third_card{
    grid-area:third_card ;

}

 .titles_of_cards{
    margin-top:30px;
    margin-left:35px ;
}

.text_of_cards{
    margin-left:35px ;

 }

.links_of_cards{
    display: block;
    margin-bottom: 35px;
    margin-right: 72px;
    margin-left: 328px;
    margin-top:157px ;
} 

.links_of_cards1{
    display: block;
    margin-top:505px ;
    margin-left: 540px;
    text-decoration:none ;
    text-transform:uppercase;
}




/* rewies        */


.reviews{
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    height: auto;
    margin-right: 323px;
    margin-left:323px;
    grid-template-columns:210px 510px ;
    grid-template-areas:
                         "reviews_title_h2 reviews_title_h2"
                         "Ellipse_img review_title_h3 "
                         "Ellipse_img review_info_1 "
                         "Ellipse_img review_info_2";
    column-gap: 65px;
    row-gap:50px ;
    margin-bottom: 115px;
}

.reviews h2{
    margin: 0;
    padding: 0;
    grid-area:reviews_title_h2;
    margin-bottom:50px

}

.Ellipse_img{
    margin: 0;
    padding: 0;
    grid-area:Ellipse_img;
    margin-right:65px ;
}

.review h3{
    margin: 0;
    padding: 0;
    grid-area:review_title_h3;

}

.review_info_1{
    margin: 0;
    padding: 0;
    grid-area:review_info_1;
    margin-bottom:19px ;
    
}

.review_info_2{
    margin: 0;
    padding: 0;
    grid-area:review_info_2
}




/* advantages grid version            !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!                                 */ 





/* .advantages_main_grid{
    display: grid;

}

.advantages-list{
    width:498px ;
    height: auto;
    display: grid;
    grid-template-columns: 55px 423px;

    grid-template-areas:
                        "advantages_mimi_img advantages_flex";

    margin: 0;
    padding: 0;
    margin:115px 246px 279px 66px ;
    list-style: none;
}


.advantages_mimi_img{
    grid-area:advantages_mimi_img;
    margin: 0;
    padding:0;
    list-style: none;
}

.advantages_flex{
    grid-area:advantages_flex;
    margin: 0;
    padding:0;
    list-style: none;
} */






/* advantages flex vereion          !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!                                 */ 





/* .advantages{
    width:1120px ;
}

.advantages h2 , .advantages-text{
    text-align: center;
    margin: 0;
    padding: 0;
}

.advantages-list{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    margin-left:622px ;
}



.advantages_flex{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    
}

.nature h3 , p{
    margin: 0;
    padding: 0;
}

.delivery_in_advantages h3 , p{
    margin: 0;
    padding: 0;
} */







/* contacts !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.contacts{

    display: flex;
    margin: 0;
    padding:0;
    margin-left: 74px;
    margin-right: 74px;
    margin-bottom:119px ;
    width: 1218px;



}

.contacts_map_img{
    justify-self:end ;
    
}

.contacts_flex_element{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;

}

.contacts_flex_element h2{
    margin: 0;
    padding: 0;
}

.contact-items{
    margin: 0;
    padding: 0;
}

.contact h3 , a{
    margin: 0;
    padding: 0;
}

