body{
    margin: 0;
}

.page-header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin:60px 74px 25px 74px
}

.main-nav{
    display:grid;
    grid-template-columns: 68px 1fr;
    column-gap:45px;
}

.site-navigation{
    display:flex;
    justify-content: start;
    flex-wrap:wrap;
    list-style-type: style none;
    margin:0;
    padding:0;
}

.site-navigation-item{
    display: block;
    margin-right: 40px;
}

.site-navigation-item:nth-child(6){
    margin-right: 0;
}

.phone{
    display: block;
    text-align: end;
}



.promo{
    display: flex;
    flex-direction: column;
    width: 484px;

}

.promo_Our_cakes{
    margin-left: 74px;
}

.promo h1{
    width: 314px;
    margin-top:155px ;
    margin-bottom:25px ;
}

.promo p{
    width: 278px;
    margin-bottom:75px ;
    
}

.button{
    display: block;
    width: 226px;
    margin-right:309px ;
    margin-bottom:114px ;
    /* justify-self: center; */
    text-align:center;
    border-radius:25px
}

.features{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 241px;

}

.features_img1{
    margin: 0;
    padding: 0;
    margin-right: 10px;   
}

.nature{
    margin: 0;
    padding: 0;
    margin-right: 40px;
}

.features_img2{
    margin: 0;
    padding: 0;
    margin-right: 10px;  
}

